/bin/
.DS_Store
.classpath
.project
.settings/
*.class
/target/
*.iml
.idea/
.idea/libraries/
/no_eclipse/no_eclipse.iml
/main/main.iml
/.idea/workspace.xml
out/production/main/
out/production/no_eclipse/
